
body {
    background-color: rgb(255, 162, 219);
}

 h1 {
     text-align:center;
     border-radius: 2000px;
     font-size: 45px;
     font-family: inherit;
 }
 p {
     text-align: center;
     font-size: 30px;
 }
.topnav {
    background-color:rgb(255, 77, 187);
    overflow: hidden;
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}
.topnav a:hover {
    background-color:rgb(255, 162, 219);
    color: rgb(255, 77, 187);
}

.aboutcss h1 {
    font-size: 50px;
}
.aboutcss p {
    font-size: 30px;
}
.typecss {
font-size: 22pt;
}
ul {
    font-size: 30px;
}
.posters {
    display: block;
    margin-left: 0px;
}
.medio {
    display: block;
    text-align: center;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

ul {
    text-align: center;
    list-style: inside;
  }

  @media screen and (max-device-width: 60em){
    .indexCSS {
        display: grid;
        grid-template-columns: 1fr;
    } 

    .row {
        display: flex;
        flex-direction: column;
    }
    img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 10em;
        border-radius: 16px;
    
    }

  }