
body {
    background-color: rgb(255, 162, 219);
}
img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1em;
}
 h1 {
     text-align:center;
     border-radius: 2000px;
     font-size: 45px;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 p {
     text-align: center;
     font-size: 30px;
 }
.topnav {
    background-color:rgb(255, 77, 187);
    overflow: hidden;
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}
.topnav a:hover {
    background-color:rgb(255, 162, 219);
    color: rgb(255, 77, 187);
}

.aboutcss h1 {
    font-size: 50px;
}
.aboutcss p {
    font-size: 30px;
}
.typecss {
font-size: 22pt;
}
ul {
    font-size: 30px;
}
.posters {
    display: block;
    margin-left: 0px;
    width: "10";
}