
body {
    background-color: rgb(255, 162, 219);
}
img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1em;
}
 h1 {
     text-align:center;
     border-radius: 2000px;
     font-size: 45px;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 p {
     text-align: center;
     font-size: 20px;
 }
.topnav {
    background-color: rgb(143, 143, 143);
    overflow: hidden;
}
.topnav a {
    float: left 
    color black 
    text-align;  
}